{{define "title"}}Add Progress Note{{end}}
{{define "add-note"}}highlighted{{end}}
{{define "main"}}
<h3>Create Note</h3>
<form class="progressnote" id="progressnote" action="/note/create" method="post">
    <div class="initial">
        <label for="patient">Select Patient:</label>
        <input type="text" name="patient" id="patient">
    </div> 
    <div class="initial">
        <label for="service">Type of Service:</label> 
        <input type="text" id="service" name="service">
    </div>
    <div class="initial">
        <label for="serviceDate">Date of Service:</label> 
        <input type="date" id="servicedate" name="serviceDate"> 
    </div>
    <div class="initial">
        <label for="startTime">Session Start Time:</label> 
        <input type="time" id="startTime" name="startTime"> 
    </div>
    <div class="initial">
        <label for="endTime">Session End Time:</label> 
        <input type="time" id="endTime" name="endTime"> 
    </div>
    <div class="text">
        <label for="summary">Summary of Treatment</label>
        <textarea id="summary" name="summary" cols="55" rows="4"></textarea>
    </div>
    <div class="bnbuttons">
        <div></div>
        <button form="progressnote" type="submit">Submit</button>
    </div>
</form>
{{end}}