{{define "title"}}Note{{end}}
    {{define "main"}}
        <h1>Progress Note</h1>
        {{if .Note}}
        <div class="note">
            <ul class="note-info">
                <li>
                    <b>Note ID:</b> {{.Note.ID}}
                </li>

                <li>
                    <b>Patient: </b> {{.Note.PatientFirstInitials}} {{.Note.PatientLastInitials}}
                </li>
                <li>
                    <b>Provider: </b> {{.Note.ProviderName}}
                </li>
                <li>
                    <b>Service: </b> {{.Note.Service}}
                </li>
                <li>
                    <b>Date of Service: </b> {{.Note.ServiceDate.Format "01/02/2006"}}
                </li>

                <li>
                    <b>Time: </b> {{.Note.StartTime.Format "03:04AM"}} to {{.Note.EndTime.Format "03:04AM"}}
                </li>
                <li>
                    <b>Status: </b> {{.Note.Status}}
                </li>
                {{if (eq .AuthLevel 2)}}
                <button>Approve</button>
                <button>Deny</button>
                {{end}}
                <a class="button" href="/notes/view">Back</a>
            </ul>
            <div class="note-note">
                <p>
                    <b>Summary of Service:</b> <br>
                    {{.Note.Summary}}    
                </p>

               
            </ul>
        </div>
        {{end}}
{{end}}